.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.App-logo {
  height: 60px;
  fill: #28A4BA;
  color: #29A3BA;
}

.App-header {
  background-color: #222;
  padding-top: 1rem;
  color: #f8f8f8;
}

.App-intro {
  font-size: large;
}

.App-field {
  width: 25%;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  height: 18px;
  border-radius: 3px;
  border: 1px solid black;
}

.btn {
  width: 15%;
  padding: 0.5rem 1rem;
  background: #000d19;
  color: #f8f8f8;
  border: 1px solid #000d19;
  border-radius: 3px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.btn:hover {
  background: #28A4BA;
  border: 1px solid #28A4BA;
  transition-timing-function: ease;
  transition-duration: 0.2s;
}

.formName{
  display: flex;
  justify-content: center;
}

.formList{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.createdList {
  border: 1px solid #28A4BA;
  align-self: center;
  width: 400px;
  margin-bottom: 2rem;
}

.ion-close-circled::before {
  float: right;
  margin: 0.5rem 1rem;
}
