@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.listName{
  border-bottom: 1px solid black;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
}

li{
  width: 100%;
  line-height: 2em;
  border-bottom: 1px solid black;
}

li:nth-child(even) {
  background: #7AB0BA;
}

li:nth-child(odd) {
  background: white;
  color: #29A3BA;
}

li:nth-child(even):hover {
  background: #29A3BA;
}

li:nth-child(odd):hover {
  background: lightgrey;
  color: #23626E;
}
