@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,400i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  background-image: url('./new_year_background.png');
}

.listName{
  background: #000d19;
  color: white;
  margin: 0;
  padding-top: 1rem;
  border-bottom: 1px solid black;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

li{
  width: 100%;
  height: 3rem;
  line-height: 2em;
  border-bottom: 1px solid black;
  text-align: center;
}

li:nth-child(even) {
  background: rgba(122, 176, 186, 0.27);
}

li:nth-child(odd) {
  background: white;
  color: #29A3BA;
}

li:nth-child(even):hover {
  background: #29A3BA;
}

li:nth-child(odd):hover {
  background: lightgrey;
  color: #000d19;
}
